<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
  
  	<div class="container">
  
  		
	  	<ul class="nav">
	  		<h2 th:utext="${message}"></h2>
			  <li class="nav-item">
			    <a class="nav-link active" th:href="@{/}">Home</a>
			  </li>
			  

			  <li class="nav-item" th:if="${loged} == true">
			    <a class="nav-link" th:href="@{/employee}">Employee</a>
			  </li>
			
				<a th:if="${loged}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true" th:href="@{/logout}">Deconnection</a>
				<a th:unless="${loged}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" th:href="@{/login}">Connection</a>
				

		</ul>
		
		
		
	<h1>Erreur</h1>
	<p>Impossible de vous identifier.</p>

	    
    
    </div>
  
  
  
  
  
  
  
  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>